<footer>
    <div class="left">
        <div class="copy">&copy; Lybe_</div>
    </div>
    <div class="right">
        <div class="git">
            <a href="https://github.com/lybe-source">Github</a>
        </div>
    </div>
</footer>