{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
        <h1>{{ title }}</h1>

        {{ include("_partials/_form.html.twig", {form: form, button: 'Éditer'}) }}

    </div>
    
{% endblock %}