{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container">
    
        <h1>{{ title }}</h1>

        <div>
            Il faudra un aside à gauche pour avoir les liens pour les différents formulaires
            Il doit y avoir le formulaire de connexion ici
            Il faudra des formulaires pour ajouter des items
            Il faudra un formulaire pour modifier les points de vie max des mob qui spawn tout les jours à 00h afin que lorsqu'il y ait assez de membre sur discord, le mob ne meurent pas en 2 minutes
        </div>
        
    </div>

{% endblock %}