{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container character">
    
        <h1>{{ title }}</h1>

        <div class="char">
            Il faudra faire un grid afin d'afficher un personnage et ces items
        </div>

        <div class="inventory">

            {% for inventoryItem in inventory %}
                
                <div class="card">
                {#} 10 card 5*2 avec une pagination, les card doivent être vide si aucun item aussi non doit afficher l'image de l'item avec la stat de celui-ci en hover {#}
                    ITEMS
                </div>

            {% endfor %}
        </div>
        
    </div>

{% endblock %}