{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="container">
    
        <h1>{{ title }}</h1>

        <div>
            Il faudra faire un grid avec des items que les membres pourront acheter, chaque items sera randomisé et différent chaque jours
        </div>
        
    </div>

{% endblock %}