{% extends 'admin-base.html.twig' %}

{% block body %}
    
    <div class="container admin">
        <h1>{{ title }}</h1>

        {{ include("_partials/_form.html.twig", {form: form, button: 'Éditer'}) }}

        <div class="back-url">
            <a href="{{ path('admin_statistics_index') }}"><ion-icon name="caret-back-circle-outline"></ion-icon><span>Retour</span></a>
        </div>
        
    </div>
    
{% endblock %}