.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: "ghost-house", sans-serif;
    letter-spacing: .2rem;
}

.btn-delete {
    background-color: #990000;
    color: var(--text-color);
}

.btn-edit {
    background-color: #009900;
    color: var(--text-color);
}

.form,
.form-new {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 1rem auto;
}

.form .form-group,
.form-new .form-group {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.form .form-group label,
.form-new .form-group label {
    padding: 8px 0;
}

.form .form-group select,
.form-new .form-group select,
.form .form-group input[type="text"],
.form-new .form-group input[type="text"] {
    width: 150px;
    padding: 8px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.form .form-btn,
.form-new button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}