.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: "ghost-house", sans-serif;
    letter-spacing: .2rem;
}

.btn-delete {
    background-color: #990000;
    color: var(--text-color);
}

.btn-edit {
    background-color: #009900;
    color: var(--text-color);
}