table {
    width: 1200px;
    margin-bottom: 2rem;
    padding: 1rem;
}

thead {
    height: 50px;
}

thead tr th {
    font-size: 2rem;
    background-color: green;
}

.tab-cat thead tr .field-name {
    width: 50%;
    padding-left: 20px;
}

thead tr th.size-field-items {
    width: 30%;
}

thead tr .field-stat {
    width: 15%;
}

thead tr .field-stat.size-field-items {
    width: 20%;
}

thead tr .field-drop {
    width: 15%;
}

thead tr .field-action {
    width: 20%;
}

thead tr .field-action.size-field-items {
    width: 20%;
}

tbody {
    margin-top: .8rem;
    font-size: 1.6rem;
}

tbody tr {
    margin-bottom: .8rem;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    color: var(--background-color);
}

tbody tr:hover {
    background-color: green;
    color: var(--text-color);
}

tbody tr td {
    padding: .1rem;
    height: 50px;
    text-wrap: nowrap;
}

tbody tr td.name_cell {
    padding-left: 15px;
}

tbody tr td.center {
    text-align: center;
}

.actions {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.actions a {
    margin-right: 20px;
}

.actions form {
    display: flex;
    align-items: center;
}

.image-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-cell img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}